.estilo-nav {
    min-width: 80vw;
}

.texto {
    font-family: 'Montserrat', sans-serif;
}

.btn-outline-uno {
    background-color: #fca311;
    color: black;
    border-color: #e5e5e5;

}

.btn-outline-uno:hover {
    background-color: #FDC05D;
    color: #ffffff;

}

.btn-outline-secondary:hover {
    background-color: #e5e5e5;
    border-color: #CCCCCC;
}

hr {
    margin-top: 0;
}

.grupo {
    background-color: white;
}